.container {
    text-align: center;
    margin-top: 50px;
}

.checkingSection {
    text-align: center;
    margin-top: 20px;
}

.factContainer {
    text-align: center;
    margin-top: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
    font-family: Arial, Helvetica, sans-serif;
}

#fact {
    font-weight: bold;
    color: #FFA500;
}

#wordInput {
    border: none;
    font-size: 20px;
    border: 2px solid #333;
    margin-bottom: 10px;
}

#checkBtn {
    border: none;
    font-size: 25px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    transition: opacity 0.3s ease;
}

#checkBtn:hover {
    opacity: 0.8;
}

#resultText {
    font-size: 25px;
    font-weight: bolder;
    color: #333;
}